legacy-peer-deps=true
#registry=https://repository.lvm.de/nexus/repository/npm-all/
progress=false
audit=false
fund=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
maxsockets=20
